<p id="notice"><%= notice %></p>

<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">Lastest tweets</h1>
                    </div>
                </div>

                <div class="row">
                  <% @accounts.each do |account| %>
                    <div class="col-md-4">
                        <img src="https://twitter.com/<%=account.username%>/profile_image?size=original"
                        class="img-quadrata center-block" >
                        <h3 class="text-center" ><% account.username %>
                        <br/>
                        <small> <%= link_to 'Show', account %></small></h3>
                    </div>
                      <% end %>
                </div>

            </div>
        </div>

<%= link_to 'New Account', new_account_path %>
